{% extends '321CQU/api_base.html' %}
{% block title %}
    <title>所有志愿活动</title>
{% endblock %}
{% block input_paras %}
    <tr>
        <td>Key</td>
        <td>String</td>
        <td>用于校验申请合法性的密码</td>
    </tr>
    <tr>
        <td>Sid</td>
        <td>String</td>
        <td>待查询学号</td>
    </tr>
{% endblock %}
{% block return_paras %}
    <tr>
        <td>Statue</td>
        <td>int</td>
        <td>查询成功返回1，失败返回0</td>
    </tr>
    <tr>
        <td>StartDate(AllActivity)</td>
        <td>string</td>
        <td>活动开始时间（若无则返回null）</td>
    </tr>
    <tr>
        <td>EndDate(AllActivity)</td>
        <td>string</td>
        <td>活动结束时间（若无则返回null）</td>
    </tr>
    <tr>
        <td>Aname(AllActivity)</td>
        <td>string</td>
        <td>活动名称</td>
    </tr>
    <tr>
        <td>Fid(AllActivity)</td>
        <td>int</td>
        <td>活动文件id</td>
    </tr>
{% endblock %}
{% block error_info %}
    <tr>
        <td>0</td>
        <td>Key不正确</td>
    </tr>
    <tr>
        <td>1</td>
        <td>参数不正确</td>
    </tr>
    <tr>
        <td>2</td>
        <td>数据库中暂无该学生数据</td>
    </tr>
{% endblock %}