{% extends '321CQU/api_base.html' %}
{% block title %}
    <title>获取回复</title>
{% endblock %}
{% block input_paras %}
    <tr>
        <td>Key</td>
        <td>String</td>
        <td>用于校验申请合法性的密码</td>
    </tr>
    <tr>
        <td>Pid</td>
        <td>Int</td>
        <td>需获取回复所属的帖子</td>
    </tr>
    <tr>
        <td>Limit(可选)</td>
        <td>int</td>
        <td>方式1：填入数字，返回n条时间降序的帖子</td>
    </tr>
    <tr>
        <td>Limit(可选)</td>
        <td>String</td>
        <td>方式2：填入2个数字，用","分隔，第一个数字表示帖子起始条数，第二个数字表示返回从第一个数字起始的条数</td>
    </tr>
    <tr>
        <td>Limit(可选)</td>
        <td>null</td>
        <td>方式3：不填写该属性值，返回前50条帖子</td>
{% endblock %}
{% block return_paras %}
    <tr>
        <td>Statue</td>
        <td>int</td>
        <td>成功返回1，失败返回0</td>
    </tr>
    <tr>
        <td>ReplyList(List)</td>
        <td>List</td>
        <td>帖子简介列表</td>
    </tr>
    <tr>
        <td>Rid(ReplyList)</td>
        <td>Int</td>
        <td>回复序号</td>
    </tr>
    <tr>
        <td>Content(ReplyList)</td>
        <td>String</td>
        <td>回复内容</td>
    </tr>
    <tr>
        <td>Author(ReplyList)</td>
        <td>String</td>
        <td>帖子作者</td>
    </tr>
    <tr>
        <td>UpdateTime(ReplyList)</td>
        <td>String</td>
        <td>帖子发布时间</td>
    </tr>
    <tr>
        <td>UserName(ReplyList)</td>
        <td>String</td>
        <td>作者昵称</td>
    </tr>
    <tr>
        <td>UserImg(ReplyList)</td>
        <td>String</td>
        <td>作者头像</td>
    </tr>
{% endblock %}
{% block error_info %}
    <tr>
        <td>0</td>
        <td>Key不正确</td>
    </tr>
    <tr>
        <td>1</td>
        <td>参数不正确</td>
    </tr>
    <tr>
        <td>2</td>
        <td>sql 语句执行错误</td>
    </tr>
{% endblock %}