{% extends '321CQU/api_base.html' %}
{% block title %}
    <title>获取空教室</title>
{% endblock %}
{% block input_paras %}
    <tr>
        <td>Key</td>
        <td>String</td>
        <td>用于校验申请合法性的密码</td>
    </tr>
    <tr>
        <td>UserName</td>
        <td>String</td>
        <td>账号</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>String</td>
        <td>密码</td>
    </tr>
    <tr>
        <td>AppointWeek</td>
        <td>String</td>
        <td>目标周数，类似课表，如（1-3,5）</td>
    </tr>
    <tr>
        <td>AppointWeekday</td>
        <td>int</td>
        <td>目标星期，数字1-7分别表示周一至周日</td>
    </tr>
    <tr>
        <td>AppointBuilding</td>
        <td>String</td>
        <td>目标教学楼，目前有（A区2教、A区5教、A区8教、B区二综合楼）</td>
    </tr>
    <tr>
        <td>AppointCourse(可选)</td>
        <td>String</td>
        <td>目标课程时间，类似课表，如（1-3,5）</td>
    </tr>
{% endblock %}
{% block return_paras %}
    <tr>
        <td>Statue</td>
        <td>int</td>
        <td>成功返回1，失败返回0</td>
    </tr>
    <tr>
        <td>VacantRoomList</td>
        <td>List(当不提供AppointCourse参数时)</td>
        <td>满足条件的教室列表</td>
    </tr>
    <tr>
        <td>VacantRoomList</td>
        <td>Dict(当提供AppointCourse参数时)</td>
        <td>满足条件的教室字典</td>
    </tr>
    <tr>
        <td>CourseTime(VacantRoomList)</td>
        <td>String</td>
        <td>课程节数(当提供AppointCourse参数时)</td>
    </tr>
    <tr>
        <td>RoomList(VacantRoomList)</td>
        <td>List</td>
        <td>教室列表(当提供AppointCourse参数时)</td>
    </tr>
{% endblock %}
{% block error_info %}
    <tr>
        <td>0</td>
        <td>Key不正确</td>
    </tr>
    <tr>
        <td>1</td>
        <td>参数不正确</td>
    </tr>
{% endblock %}