{% extends '321CQU/api_base.html' %}
{% block title %}
    <title>获取广告观看次数</title>
{% endblock %}
{% block input_paras %}
    <tr>
        <td>Key</td>
        <td>String</td>
        <td>用于校验申请合法性的密码</td>
    </tr>
    <tr>
        <td>Code</td>
        <td>String</td>
        <td>小程序用户临时标识码</td>
    </tr>
{% endblock %}
{% block return_paras %}
    <tr>
        <td>Statue</td>
        <td>int</td>
        <td>成功返回1，失败返回0</td>
    </tr>
    <tr>
        <td>Times</td>
        <td>int</td>
        <td>用户观看广告的次数</td>
    </tr>
{% endblock %}
{% block error_info %}
    <tr>
        <td>0</td>
        <td>Key不正确</td>
    </tr>
    <tr>
        <td>1</td>
        <td>参数不正确</td>
    </tr>
    <tr>
        <td>2</td>
        <td>sql执行错误</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Openid获取错误</td>
    </tr>
{% endblock %}