{% extends '321CQU/api_base.html' %}
{% block title %}
    <title>同步自定义事件</title>
{% endblock %}
{% block input_paras %}
    <tr>
        <td>Key</td>
        <td>String</td>
        <td>用于校验申请合法性的密码</td>
    </tr>
    <tr>
        <td>Code</td>
        <td>String</td>
        <td>小程序端用于换取openid的code</td>
    </tr>
{% endblock %}
{% block return_paras %}
    <tr>
        <td>Statue</td>
        <td>int</td>
        <td>成功返回1，失败返回0</td>
    </tr>
    <tr>
        <td>Events(List)</td>
        <td>List</td>
        <td>自定义事件数据</td>
    </tr>
    <tr>
        <td>CEcode(Events)</td>
        <td>String(25)</td>
        <td>自定义事件代码设置</td>
    </tr>
    <tr>
        <td>CEname(Events)</td>
        <td>String(25)</td>
        <td>自定义事件名称设置</td>
    </tr>
    <tr>
        <td>PeriodFormat(Events)</td>
        <td>String</td>
        <td>自定义事件节数设置</td>
    </tr>
    <tr>
        <td>TeachingWeekFormat(Events)</td>
        <td>String</td>
        <td>自定义事件周数设置</td>
    </tr>
    <tr>
        <td>WeekdayFormat(Events)</td>
        <td>String</td>
        <td>自定义事件星期几设置</td>
    </tr>
    <tr>
        <td>Content(Events)</td>
        <td>String(50)</td>
        <td>自定义事件备注(不超过50个字)</td>
    </tr>
{% endblock %}
{% block error_info %}
    <tr>
        <td>0</td>
        <td>Key不正确</td>
    </tr>
    <tr>
        <td>1</td>
        <td>参数不正确</td>
    </tr>
    <tr>
        <td>2</td>
        <td>sql 语句执行错误</td>
    </tr>
{% endblock %}