<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
    {% block body %}
    {% endblock %}
    <br>
    <hr style="FILTER:alpha(opacity=100,finish-opacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
    <div style="text-align: center">
        <a href="https://beian.miit.gov.cn/" target="_blank">赣ICP备2021010721号-1</a>
    </div>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36010202000544" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/static/备案图标.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">赣公网安备 36010202000544号</p></a>
    </div>
</body>
</html>